@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100 text-foreground antialiased;
  }
}

@layer utilities {
  .bg-muted {
    @apply bg-slate-100;
  }
}
